<a href="https://colab.research.google.com/github/group0101/Project5/blob/master/ML/Using_Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Inspecting transfusion.data file
<p><img src="https://assets.datacamp.com/production/project_646/img/blood_donation.png" style="float: right;" alt="A pictogram of a blood bag with blood donation written in it" width="200"></p>
<p>Blood transfusion saves lives - from replacing lost blood during major surgery or a serious injury to treating various illnesses and blood disorders. Ensuring that there's enough blood in supply whenever needed is a serious challenge for the health professionals. According to <a href="https://www.webmd.com/a-to-z-guides/blood-transfusion-what-to-know#1">WebMD</a>, "about 5 million Americans need a blood transfusion every year".</p>
<p>Our dataset is from a mobile blood donation vehicle in Taiwan. The Blood Transfusion Service Center drives to different universities and collects blood as part of a blood drive. We want to predict whether or not a donor will give blood the next time the vehicle comes to campus.</p>
<p>The data is stored in <code>datasets/transfusion.data</code> and it is structured according to RFMTC marketing model (a variation of RFM). We'll explore what that means later in this notebook. First, let's inspect the data.</p>

In [ ]:
# Import pandas
import pandas as pd

# Read in dataset
transfusion = pd.read_csv('/home/anujkhaire/Project_Final/transfusion.data')

# Print out the first rows of our dataset
transfusion.head(2)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1

In [ ]:
# Print a concise summary of transfusion DataFrame
transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
Recency (months)                              748 non-null int64
Frequency (times)                             748 non-null int64
Monetary (c.c. blood)                         748 non-null int64
Time (months)                                 748 non-null int64
whether he/she donated blood in March 2007    748 non-null int64
dtypes: int64(5)
memory usage: 29.3 KB

## 2. Loading the blood donations data
<p>We now know that we are working with a typical CSV file (i.e., the delimiter is <code>,</code>, etc.). We proceed to loading the data into memory.</p>

In [ ]:
# Import pandas
import pandas as pd

# Read in dataset
transfusion = pd.read_csv('/home/anujkhaire/Project_Final/transfusion.data')

# Print out the first rows of our dataset
transfusion.head(2)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1

## 3. Inspecting transfusion DataFrame
<p>Let's briefly return to our discussion of RFM model. RFM stands for Recency, Frequency and Monetary Value and it is commonly used in marketing for identifying your best customers. In our case, our customers are blood donors.</p>
<p>RFMTC is a variation of the RFM model. Below is a description of what each column means in our dataset:</p>
<ul>
<li>R (Recency - months since the last donation)</li>
<li>F (Frequency - total number of donation)</li>
<li>M (Monetary - total blood donated in c.c.)</li>
<li>T (Time - months since the first donation)</li>
<li>a binary variable representing whether he/she donated blood in March 2007 (1 stands for donating blood; 0 stands for not donating blood)</li>
</ul>
<p>It looks like every column in our DataFrame has the numeric type, which is exactly what we want when building a machine learning model. Let's verify our hypothesis.</p>

In [ ]:
# Print a concise summary of transfusion DataFrame
transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
Recency (months)                              748 non-null int64
Frequency (times)                             748 non-null int64
Monetary (c.c. blood)                         748 non-null int64
Time (months)                                 748 non-null int64
whether he/she donated blood in March 2007    748 non-null int64
dtypes: int64(5)
memory usage: 29.3 KB

## 4. Creating target column
<p>We are aiming to predict the value in <code>whether he/she donated blood in March 2007</code> column. Let's rename this it to <code>target</code> so that it's more convenient to work with.</p>

In [ ]:
# Rename target column as 'target' for brevity 
transfusion.rename(
    columns={'whether he/she donated blood in March 2007': 'target'},
    inplace=True
)

# Print out the first 2 rows
transfusion.head(2)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),target
0,2,50,12500,98,1
1,0,13,3250,28,1

## 5. Checking target incidence
<p>We want to predict whether or not the same donor will give blood the next time the vehicle comes to campus. The model for this is a binary classifier, meaning that there are only 2 possible outcomes:</p>
<ul>
<li><code>0</code> - the donor will not give blood</li>
<li><code>1</code> - the donor will give blood</li>
</ul>
<p>Target incidence is defined as the number of cases of each individual target value in a dataset. That is, how many 0s in the target column compared to how many 1s? Target incidence gives us an idea of how balanced (or imbalanced) is our dataset.</p>

In [ ]:
# Print target incidence proportions, rounding output to 3 decimal places
transfusion.target.value_counts(normalize=True).round(3)

0    0.762
1    0.238
Name: target, dtype: float64

## 6. Splitting transfusion into train and test datasets
<p>We'll now use <code>train_test_split()</code> method to split <code>transfusion</code> DataFrame.</p>
<p>Target incidence informed us that in our dataset <code>0</code>s appear 76% of the time. We want to keep the same structure in train and test datasets, i.e., both datasets must have 0 target incidence of 76%. This is very easy to do using the <code>train_test_split()</code> method from the <code>scikit learn</code> library - all we need to do is specify the <code>stratify</code> parameter. In our case, we'll stratify on the <code>target</code> column.</p>

In [ ]:
# Import train_test_split method
from sklearn.model_selection import train_test_split

# Split transfusion DataFrame into
# X_train, X_test, y_train and y_test datasets,
# stratifying on the `target` column
X_train, X_test, y_train, y_test = train_test_split(
    transfusion.drop(columns='target'),
    transfusion.target,
    test_size=0.25,
    random_state=40,
    stratify=transfusion.target
)

# Print out the first 2 rows of X_train
X_train.head(2)
print(X_test)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
746                39                  1                    250             39
25                  4                 14                   3500             40
380                14                  1                    250             14
587                 2                  1                    250              2
491                21                  3                    750             70
72                  4                 17                   4250             71
208                11                  6                   1500             27
733                23                  1                    250             23
483                23                  1                    250             23
617                 4                  1                    250              4
151                 4                  6                   1500             39
417                16                  1                    250             16
453                21                  1                    250             21
74                  2                  2                    500              4
458                21                  1                    250             21
414                16                  1                    250             16
278                14                 18                   4500             78
599                12                 11                   2750             39
61                  2                  8                   2000             35
577                 9                  9                   2250             38
616                 4                  1                    250              4
84                  2                  6                   1500             28
600                 2                  2                    500             14
739                23                  4                   1000             52
496                38                  1                    250             38
31                  4                 10                   2500             28
742                16                  3                    750             86
44                  4                 20                   5000             69
194                 2                  2                    500             14
604                 4                  2                    500             13
..                ...                ...                    ...            ...
382                14                  1                    250             14
712                14                  2                    500             35
289                14                  3                    750             19
111                 4                  9                   2250             46
339                 9                  3                    750             34
131                 2                 12                   3000             95
71                  2                  4                   1000             16
117                 4                 11                   2750             61
115                11                 24                   6000             64
572                 2                  2                    500             11
584                 2                  1                    250              2
181                10                  4                   1000             16
648                11                  3                    750             23
75                  2                  2                    500              4
350                11                  1                    250             11
39                  4                  7                   1750             22
575                 4                  6                   1500             38
176                11                  4                   1000             16
538                 2                  8                   2000             38
395                16                 10                   2500             89
142                 4                  3                    750             16
66                  2                  4                   1000             14
171                 2                  1                    250              2
589                 2                  1                    250              2
272                 7                  2                    500             16
569                 2                  6                   1500             45
388                 9                  3                    750             52
683                11                  3                    750             37
421                16                  2                    500             27
330                14                  7                   1750             47

[187 rows x 4 columns]

## 7. MLPClassifier

In [ ]:
# Import TPOTClassifier
from sklearn.neural_network import MLPClassifier
# Import roc_auc_score
from sklearn.metrics import classification_report, confusion_matrix

from sklearn.metrics import roc_auc_score

# Instantiate MLPClassifier
mlp = MLPClassifier(max_iter=1000)
print(mlp)
mlp.fit(X_train, y_train.values.ravel())

predictions = mlp.predict(X_train)

#  score for model
predictions
print(confusion_matrix(y_train,predictions))
print(classification_report(y_train,predictions))

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=1000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)
[[427   0]
 [134   0]]
              precision    recall  f1-score   support

           0       0.76      1.00      0.86       427
           1       0.00      0.00      0.00       134

    accuracy                           0.76       561
   macro avg       0.38      0.50      0.43       561
weighted avg       0.58      0.76      0.66       561

/home/anujkhaire/.local/lib/python3.5/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
mlp.predict([[10,10,10,12]])

array([1])